<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Mount_Eden_Garage.Properties.Settings.MountEdenGarageConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\MountEdenGarage.mdb"
            providerName="System.Data.OleDb" />
        <add name="Mount_Eden_Garage.Properties.Settings.MountEdenGarageConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\kirte\OneDrive\Desktop\Uni\Semester Two\HTCS5603\Assessment 2 DUE 6 May\MountEdenGarage.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>